pyrogram
numpy
motor
aiofiles
python-dotenv
apscheduler
tensorflow-cpu
dnspython==2.4.2
tensorflow-hub
pandas
scikit-learn
pillow
cachetools
googletrans
pyromod
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
